
<div class="ml-4 mr-4">
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" *ngFor="let num of [1,2,3,4,5,6,7]">
        <!-- Card -->
<mdb-card  >
  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
    <!-- Card img -->
    <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"  alt="Card image cap"></mdb-card-img>
    <a>
      <div class="mask"></div>
    </a>
  </div>
  <!--Card content-->
  <mdb-card-body class="text-center">
    <!--Title-->
    <mdb-card-title>
      <h4 style="text-align: center;">Card Title</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text style="text-align: center;"> Some quick example text to build on the card title and make up the bulk of the card's
      content.
    </mdb-card-text>
    <a href="#0" class="btn btn-link  btn-danger"><span style="font-family: Monaco; font-weight: bold;">WATCH NOW</span></a>
  </mdb-card-body>
</mdb-card>
<!-- Card -->
    </div>
  </div>
  </div>
</div>